h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 30px;
    margin-left: 500px;
    padding-top: 30px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 24px;
    margin-left: 600px;
}

.icons {
    position: fixed;
    justify-content: space-around;
    width: 65px;
    padding: 5px;
    background-color: rgb(226, 114, 23);
    justify-content: center;

}

.main {
    display: flex;
}

button {
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 0px;
    box-shadow: 2px 3px 3px;
}

button:hover {

    /* Darker green background on hover */
    transform: scale(1.1);
    /* Slightly enlarge the button */
    transition: all 0.3s ease;
    /* Smooth transition */
    box-shadow: none;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 70px;
    /* Position the tooltip above the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.options {

    background-image: url("https://cdn2.iconfinder.com/data/icons/essentials-8/100/Menu-512.png");
    background-size: cover;

}

.plane {
    background-image: url("https://th.bing.com/th/id/OIP.uwF5PnA2HTmwjvrA2jKAtwHaHa?rs=1&pid=ImgDetMain");
    background-size: cover;
}

.food {
    background-image: url("https://th.bing.com/th/id/OIP.amSOwQhvzDFvr5T9wrTiQgHaHa?w=179&h=180&c=7&r=0&o=5&dpr=1.9&pid=1.7");
    background-size: cover;
}

.hotel {
    background-image: url("https://cdn.iconscout.com/icon/premium/png-512-thumb/living-room-1447724-1224138.png");
    background-size: cover;
}

.cash {
    background-image: url("https://www.citypng.com/public/uploads/preview/money-cash-black-icon-transparent-png-11636944062qw6ybhhwy8.png");
    background-size: cover;
}

.packages {
    background-image: url("https://icon-library.com/images/tour-icon-png/tour-icon-png-22.jpg");
    background-size: cover;
}

.events {
    background-image: url("https://th.bing.com/th/id/OIP.VMWS1G-rMjkWp2DBA_pinwHaHa?pid=ImgDet&w=184&h=184&c=7&dpr=1.3");
    background-size: cover;
}

.reviews {
    background-image: url("https://cdn4.iconfinder.com/data/icons/edit-glyph/64/edit-comment-feed-write-256.png");
    background-size: cover;
}


.themes {
    background-color: white;
    height: 3400px;
    width: 100%;
    margin-left: 50px;
    margin-top: -40px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thm {
    width: 170px;
    height: 115px;
    margin: 35px;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.thm:hover {
    transform: scale(1.05);
}

.thm1 {
    background-image: url("https://img.freepik.com/premium-photo/modern-bright-shopping-mall-interior-with-shoppers-escalator_14117-612734.jpg");
}

.thm2 {
    background-image: url("https://img.freepik.com/premium-vector/top-view-ocean-beach-with-soft-waves-summer-landscape-flat-landscap-vector-art-illustration_36900-3645.jpg?w=996");
}

.thm3 {
    background-image: url("https://img.freepik.com/premium-photo/block-print-style-artwork-tiger-nature_785229-4835.jpg");
}

.thm4 {
    background-image: url("https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9zci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA5L3Jhd3BpeGVsX29mZmljZV8yNF9zaW1wbGlmaWVkX3dlc3Rlcm5fc3R5bGVfcmVzdHVhcmFudF9taW5pbWFsaV8zOGEyNGJiOS0zMDQxLTQ5NDYtOWYxNS0zYjg4YzZiOTExZmVfMS5qcGc.jpg");
}

.thm5 {
    background-image: url("https://img.freepik.com/premium-vector/india-monuments-vector-illustration_953932-6950.jpg");
}

.thm6 {
    background-image: url("https://ofonetree.com/wp-content/uploads/2024/01/image-879.png");
}

.thm7 {
    background-image: url("https://www.creativefabrica.com/wp-content/uploads/2023/04/05/Islamic-Mosque-flat-illustration-free-Graphics-66333305-1.jpeg");
}

.thm8 {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230411/pngtree-park-childrens-slide-background-image_2189406.jpg");
}





.thmtitle {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

.menu {
    visibility: hidden;
    position: absolute;
    position: fixed;
    font-size: 18px;
    width: 100px;
    height: 40px;
    margin: 10px;
    border: 0px;
    box-shadow: 2px 3px 3px;
}

.menu1 {
    width: 200px;
    height: 40px;
    margin-left: 65px;
    margin-top: 2px;

}

.menu2 {
    width: 200px;
    height: 40px;
    margin-left: 65px;
    margin-top: 2px;
}

.menu3 {
    width: 200px;
    height: 40px;
    margin-left: 65px;
    margin-top: 2px;
}

.menu4 {
    width: 200px;
    height: 40px;
    margin-left: 65px;
    margin-top: 2px;
}

.top {
    margin-left: -200px;
}

.toptitle {
    margin-top: 100px;
    margin-left: -800px;
}

.T1 {

    margin-left: -500px;
}

/* Base Class for common properties */
.div {
    width: 300px;
    height: 200px;
    border: 4px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    margin-top: 40px;
    transition: 0.3s ease-in-out;
}

.div:hover {
    transform: scale(1.05);
}

/* Specific Image Classes */
.div1 {
    background-image: url("https://imgcld.yatra.com/ytimages/image/upload/t_seo_Magnum_w_350_h_300_c_fill_g_auto_q_auto:good_f_jpg/v1433743550/Mahabalipuram_5.jpg");
}

.div2 {
    background-image: url("https://hblimg.mmtcdn.com/content/hubble/img/additionalttdimages/mmt/activities/m_Government_Museum_Chennai_3_l_360_640.jpg");
}

.div3 {
    background-image: url("https://i0.wp.com/indiashine.net/wp-content/uploads/2021/01/dreamstime_m_110159304.jpg");
}

.div4 {
    background-image: url("https://4.bp.blogspot.com/-AtLJQsxESt4/Wb--h8YnTZI/AAAAAAAABdE/wgBb5Z6-cxgiv_WsNO_mK6y9WGS4Yy08QCLcBGAs/s1600/20170917_161759.jpg");
}

.div5 {
    background-image: url("https://4.bp.blogspot.com/-AtLJQsxESt4/Wb--h8YnTZI/AAAAAAAABdE/wgBb5Z6-cxgiv_WsNO_mK6y9WGS4Yy08QCLcBGAs/s1600/20170917_161759.jpg");
}

.div6 {
    background-image: url("https://4.bp.blogspot.com/-AtLJQsxESt4/Wb--h8YnTZI/AAAAAAAABdE/wgBb5Z6-cxgiv_WsNO_mK6y9WGS4Yy08QCLcBGAs/s1600/20170917_161759.jpg");
}

.div7 {
    background-image: url("https://4.bp.blogspot.com/-AtLJQsxESt4/Wb--h8YnTZI/AAAAAAAABdE/wgBb5Z6-cxgiv_WsNO_mK6y9WGS4Yy08QCLcBGAs/s1600/20170917_161759.jpg");
}