* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url("https://as2.ftcdn.net/v2/jpg/03/36/33/21/1000_F_336332130_MK8MeXrubobFcf5mQ95XDreySIaPSbFf.jpg");
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
  }
  
  .game-container {
    position: relative;
  }
  
  canvas {
    z-index:2;
    border: 2px solid #fff;
    background-size:cover;
    background-image:url("https://th.bing.com/th/id/OIP.uH18BoCLD08gkAw2hk8p6QHaHa?rs=1&pid=ImgDetMain");
    border:15px dashed rgb(95, 26, 5);
    
  }
  
  .score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
