body {
    font-family: Rubik, sans-serif;
    background-color: rgba(255, 255, 255, 0.468);
}

h1 {
    font-family: Spectral, serif;
    font-size: 40px;
    color: rgb(38, 153, 44);
    text-shadow: rgb(0, 0, 0) 2px 2px 1px;
}

.Title {
    margin-left: 100px;
}

.icons {
    margin-top: -100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 85px;

}



.tooltip {
    width: 130px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: normal;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999;
    word-wrap: break-word;
}

button {
    font-family: Rubik, sans-serif;
    font-size: 25px;
    position: relative;


}

button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.Themes {
    position: fixed;
    top: 120px;
    right: 10px;
    width: 150px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* Force scrollbar */
    scrollbar-width: thin;
    -ms-overflow-style: scrollbar;
    background-color: #1f1414;
}



button {
    overflow: visible;
}


img {
    margin: 10px;
    border: 2px solid black;
}



.where {
    font-family: Spectral, sans-serif;
    float: right;
    margin-top: -90px;

}

.hey {
    right: 1%;
    height: 100px;
    width: 150px;

    position: fixed;
    margin-top: -110px;


}

.in {
    position: absolute;
    height: 40px;
    width: 400px;
    margin-left: 400px;
    margin-top: -70px;


}

.search {
    position: absolute;
    height: 45px;
    width: 40px;
    margin-left: 800px;
    margin-top: -70px;
}

.ico,
.thm {
    visibility: hidden;
}

body {
    height: 1000px;
    background-color: rgb(198, 202, 202);
}


/* Apply the animation for all six images */
@keyframes cycleImages {

    0%,
    20% {
        opacity: 1;
    }

    25%,
    100% {
        opacity: 0;
    }
}

/* Apply the animation for all five images */
.explore {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: cycleImages 15s infinite;
}

/* Add different delays for each image */
.e1 {
    animation-delay: 0s;
}

.e2 {
    animation-delay: 3s;
}

.e3 {
    animation-delay: 6s;
}

.e4 {
    animation-delay: 9s;
}

.e5 {
    animation-delay: 12s;
}





.exptitle {
    margin-left: 100px;
}

.expimg {

    border: 0;
    margin-top: 50px;
    margin-left: 50px;


}



.image-container {

    position: relative;
    width: 900px;
    /* Set width for images */
    background-color: grey;
    margin: 0 auto;
    /* Hide images that are not active */

}




.cont {
    width: 1050px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 15px black;

    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-left: -100px;
}

@media(max-width:768px) {

    .i-title{
        font-size:1.5 em;
        margin-left:40px;
            }
    h1{
        font-size: 2em;
        padding-left: 10px;
        white-space: nowrap;
    }
    .icons{
        width:50px;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content:center;

    }
    .ib{
        width:30px;
        margin-left:3px;
        margin-top:8px;

    }
    .ico,.options{
        height:55px;
        width:55px;
        
    }
    .explore,.cont{
        display:flex;
        flex-direction: column;
        margin:20px;
        margin-left:30px;
        width:360px;
        height: auto;
        padding:10px;
    }
    .expimg{
        width:200px;
        height:100px;
    }
    .content{
        margin-top:-300px;
        font-size:0.5rem;
    }

    .tb{
        width:60px;
        height: auto;
        margin-left:3px;
        margin-top:8px;

    }
    .Themes{
        margin-top:-20px;
        width:100px;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content:center;
        height:auto;
    
    }
    .thm1,.thm2,.thm3,.thm4,.thm5,.thm6,.thm7,.thm8{
        height:70px;
        width:90px;
    }

}

.content {

    font-size: 16px;
    font-family: Rubik;
    padding: 30px;
    margin-top: 50px;
    line-height: 1.5;
}

.i-title {
    margin: 10px;
    margin-top: 50px;
    margin-bottom: -40px;
    margin-left: 30px;
    border: 0;
    padding: 15px;
    font-family: Spectral, serif;
    font-size: 37px;
}

.img-hold {

    margin-top: -50px;
}

.rate {
    font-size: 16px;
    margin-top: -20px;
    margin-left: 30px;
}

.book {

    font-size: 16px;
    margin-top: -20px;
    margin-left: 30px;
}

.book:hover {
    cursor: pointer;
    background-color: rgb(112, 108, 102);

}

.login {
    position: absolute;
    padding: 10px;
    background-color: rgb(33, 111, 180);
    color: white;
    margin-left: 900px;
    margin-top: -70px;
}

.login:hover {
    cursor: pointer;
    opacity: 0.6;
}

